[Unit]
Description=Time share
[Service]
Type=simple
ExecStart=/home/ee212778/Documents/Time_App_repo/Daemon/config.sh
Restart=on-failure
RestartSec=10
KillMode=process
[Install]
WantedBy=runlevel5.target
