[Unit]
Description=Time share
[Service]
Type=simple
ExecStart=/home/ee212778/Documents/Client-Server/Application_EXEC/config.sh && /home/ee212778/Documents/Client-Server/Application_EXEC/timeshare
Restart=on-failure
RestartSec=10
KillMode=process
[Install]
WantedBy=runlevel5.target
